.my1{
	background:green
}

body{
	
}

.infoRightPanelKor{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.navbar-header{
	background-color:#229922;
    color:#ffffff;
}

.bodyStyle{
	background-color:#229922;
    color:#ffffff;
}