body{
	
}

.textForRightPanelKor{	
	color: black;
	font-family: Roboto, serif;
	font-size: 28px;
	text-align: left;
}

.textForIcon{
	text-decoration: none;
	color: black;
	font-family: Myriad Pro, serif;
	font-size: 14.52px;
}
.textCityAndClass{
	color: black;
	font-family: Roboto Regular;
	font-size: 28px;
	text-align: left;
}


.bodyStyle{
	background-color:#229922;
    color:#ffffff;
}

.form-control{
	border-radius: 0 px !important;	
}

.colorForNavbar{
	background-color: #00829c;
}

.HrStyleMain{
	margin-top: 0px;
	margin-bottom: 0px;
	border:none; 
	background:black; 	
	height:1px;
}	
	
.HrStyleSecondary{
	margin-top: -2px;
	margin-bottom: 0px;
	border:none; 
	background:black; 	
	height:1px;
	
}