
a:hover{
	text-decoration: none;
}

.text-main{
	text-decoration: none;
	color: black;
	font-family: Roboto, serif;
	font-size: 28px;
}

.text-rightPanel:hover{
	color:#6282ad;	
}

.text-rightPanel{
	text-decoration: none;
	color: black;
	font-family: Roboto, serif;
	font-size: 28px;
	text-align: left;	
}

.text-rightPanel-active{
	text-decoration: none;
	color:#6282ad;
}

.border-div-bottom{
	border-bottom:1px solid black;
}

.navbar-default .navbar-nav>li>a:hover{
	text-decoration: none;
	color: black;	
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
	color: black;
	font-family: Myriad Pro, serif;
	font-size: 14px;
}

.text-lable{
	color: black;
	font-family: Robotor;
	font-size: 28px;
	text-align: right;	
}

.kor-navbar-color{
	background-color: #00829c;
}
.input-group{
	background-color: white;
}

.search-form{
	border: none;
}

.icon-kor{
	margin: 10px;
}
	
